*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   color: #F5F5F5;
   font-family: Inter, sans-serif;
   font-weight: 400;
   background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
   margin: 0;
   padding: 0;
}

a {
   color: inherit;
}

.content-section {
   box-sizing: border-box;
   width: 360px;
   margin: auto;
   background-color: #131313;
   line-height: 1.35;
}

header {
   display: flex;
   justify-content: space-between;
   padding: 24px 20px;
}

.header__logo {
   display: block;
   max-width: 78px;
}

.header__logo-image {
   width: 100%;
}

.header__menu-list {
   display: flex;
   gap: 12px;
   flex-direction: column;
   list-style: none;
}

.header__menu-item {
   font-size: 16px;
}

.cover {
   background-image: url(../images/cover.svg);
   background-repeat: no-repeat;
   background-size: 95% auto;
   background-position: right;
   min-height: 210px;
   padding: 7px 20px 30px;
}

.cover__title {
   font-size: 72px;
   font-family: 'EB Garamond';
   font-weight: 400;
   line-height: 1;
}

.accent-span {
   display: block;
}

.text-center {
   text-align: center;
}

.text-right {
   text-align: right;
}

.intro {
   color: #CCCCCC;
   padding: 0 20px 38px 20px;
}

.intro__heading {
   display: flex;
   padding-bottom: 24px;
}

.intro__title {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.2;
}

.intro__date {
   white-space: nowrap;
}

.intro__main-text {
   display: flex;
   gap: 24px;
   flex-direction: column;
   color: #F5F5F5;
   line-height: 1.35;
}

.reasons {
   background: #FEE42A;
   padding: 40px 20px;
}

.content-section__subtitle {
   font-family: 'EB Garamond';
   color: #131313;
   font-size: 28px;
   font-weight: 500;
   line-height: 1.15;
   padding-bottom: 32px;
}

.content-section__introduction {
   color: #131313;
   font-size: 20px;
   padding-bottom: 32px;
}

.content-section__list {
   display: flex;
   gap: 16px;
   flex-direction: column;
   color: #131313;
   font-size: 16px;
   font-weight: 400;
   padding: 0 20px;
}

.content-section__list-accent {
   font-weight: 700;
}

.how-to {
   padding: 40px 20px 60px;
}

.how-to__title {
   font-family: 'EB Garamond';
   font-size: 28px;
   font-weight: 500;
   line-height: 1.1;
   padding-bottom: 32px;
}

.how-to__text {
   font-size: 20px;
   padding-bottom: 32px;
}

.cards-list {
   list-style: none;
   padding-bottom: 32px;
}

.card {
   padding: 20px;
   border-radius: 30px;
   color: #F5F5F5;
   line-height: 1.35;
}

.card_theme_dark {
   background-color: #343434;
}

.card__author {
   padding-bottom: 10px;
}

.card__author-photo {
   display: block;
   max-width: 100px;
   padding-bottom: 8px;
}

.card__title {
   font-family: 'EB Garamond';
   font-size: 22px;
   font-weight: 500;
   padding-bottom: 8px;
}

.card_theme_bright {
   background-color: #FEE42A;
   color: #131313;
}

.cards-list:last-child {
   padding-bottom: 0;
}

footer {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   border-top: 1px solid #FEE42A;
}

.footer__menu-list {
   display: flex;
   justify-content: space-between;
}

.footer__menu {
   font-size: 14px;
   width: 73px;
}

.footer__menu-link {
   text-decoration: none;
}